{% extends "base.html" %}

{% block title %}Portfolio - Mayank Raval{% endblock %}

{% block sitename %}Mayank Raval{% endblock %}

{% block name %}Mayank Raval{% endblock %}

{% block section_about %}About{% endblock %}

{% block about_info %}
A coding enthusiast who finds solace in crafting digital solutions. Passionate about exploring new horizons, both in code and across the globe. An avid reader who believes books are portals to endless worlds and knowledge.
{% endblock %}

{% block section_skills %}Skills{% endblock %}

{% block section_resume %}Resume{% endblock %}

{% block resume_info %}
To secure a Junior Machine Learning Engineer position in a dynamic organization where I can leverage my skills in data analysis, machine learning algorithms, and programming to contribute to innovative projects and solutions.
{% endblock %}